html {
    width: 100%;
    body: 100%;
}

div {
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}

body {
    background-color: #E8E8E8;
    font-family: sans-serif;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;
}

button {
    margin: 2px;
    width: 95%;
}

.left {
    float: left;
    clear: both;
    display: inline-block;
}


.corner {
    position: absolute;
    margin: 0px;
    padding: 0px;
    cursor: pointer;
}

.cutBox {
    position: absolute;
    margin: 0px;
    padding: 0px;
}

.coordpair {
    float: left;
    clear: left;
}

.grabber {
    width: 8px;
    height: 8px;
    background-color: fuchsia;
    position: absolute;
}

.thumbnail {
    height: 50px;
    width: 50px;
    cursor: pointer;
    float: left;
    margin: 3px;
    border: 2px solid black;
}

.selected {
    border: 2px solid red;
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#main > div, #navigate > div {
    margin-left: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}

#navigate > div {
    border: 2px solid green;
    float: left;
    clear: left;
}

#photocontainer > div, #photocontainer > canvas {
    position: absolute;
}

#cutBox {
    border: 2px dashed blue;
}

#picontrols {
    position: relative;  /*so that we can center the loading icon */
    text-align: center;
}

#loadingspan {
    position: absolute;
    top: 50%;
    margin-top: -8px;
}

#buttons {
    width: 75%;
}

#navigate, #toolcontainer {
    width: 15%;
    float: left;
}

#tools {
    border: 2px solid red;
}

#photocontainer {
    border: 2px solid fuchsia;
}

#content {
    border: 2px solid blue;
    background-color: white;
    margin: 5px;
}


#header {
    text-align: center;
}

