img {
    width: 500px;
    height: auto;
}

h1 {
    color: blue;
}

.thumbnail {
    height: 50px;
    width: 50px;
    cursor: pointer;
    float: left;
    margin: 3px;
    border: 2px solid black;
}

#upload, #browse {
    border: 2px solid green;
    float: left;
    clear: left;
}

#navigate, #toolcontainer {
    width: 15%;
    float: left;
    overflow: hidden;
}

#view {
    overflow: hidden;
}

#tools {
    border: 2px solid red;
    overflow: hidden;
}

#photocontainer {
    border: 2px solid fuchsia;
    overflow: hidden;
}

div {
    margin: 0px;
    padding: 0px;
}

.corner {
    position: absolute;
    margin: 0px;
    padding: 0px;
    cursor: pointer;
}

.coordpair {
    float: left;
    clear: left;
}

#content {
    border: 2px solid blue;
    overflow: hidden;
}