<!-- This is where the base html code will go - the stuff that we want to appear
on all the pages of the application -->

<!DOCTYPE html>

<html>

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{title}}</title>
    <meta name="description" content="A whiteboard capture system with discontinuity built in.">
    <meta name="viewport" content="width=device-width">

    <link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='favicon.ico') }}">


    {% assets "css_all" %}
    <link rel="stylesheet" href="{{ ASSET_URL }}">
    {% endassets %}

  </head>

  <body>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
      {% for message in messages %}
        <li>{{ message }} </li>
    {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}


    {% block content %}{% endblock %}


    <!-- faster loading with js at the end -->
    {% assets "js_all" %}
    <script rel="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}
    {% assets "js_view_all" %}
    <script rel="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}


  </body>

</html>

