{% extends "base.html" %}


{% block content %}



<input id="photo-id" value="{{user.id}}" hidden="true"/>



<div id="content">


  <div id="view" class="column left">


    <div id="header">

	<div class="loading-icon left"></div>

	<ul class="menu right">
	  <li id="photo-view-button" data-toggle="modal">View New Photo</li>
	</ul>

    </div>

    <div id="logo">
      <img id="header-logo" src="{{ url_for('static', filename='logo.png') }}" alt="Discontinuity Board">

      <div class="right">

	  {% if user %}
	  <p>You are connected to photo: {{user.code}}</p>
	  {% endif %}

	  <p id="time-left"></p>
      </div>
    </div>
  </div>

  <div>
    <a id="export-link" href="{{ url_for('export_notes', id=user.id) }}"></a>

    <textarea id="notes" class="right">
    </textarea>

  </div>
</div>




{% include "modals.html" %}

{% endblock %}
