{% extends "base.html" %}



{% block content %}

{% include "navbar.html" %}


  {% if user %}  
<div>
  <div id="navigate">
    <ul>
      <li id="take-photo-button">Take Photo</li>
      <li id="photo-tools-dropdown">Photo Tools
	<ul>
	  <li id="select-button">Select Tool</li>
	</ul>
      </li>
      <li id="deletephoto"> Delete Photo </li>
      <li id="upload-modal-button">Upload photo</li>
    </ul>

    {% include "browse.html" %}

    <div id="select-options" class="center">
      <button id="make-selection-button">Make Selection</button>
    </div>

  </div>

</div> 
  {% endif %}

<div id="content">



  <div id="view" class="column left">

  </div>
  <div id="notes" contentEditable="true" class="column right">

  </div>

</div>

{% include "modals.html" %}

{% endblock %}
