{% extends "base.html" %}


{% block content %}

<div id="header">
  <div class="top">
    <span class="left">
      <img src="{{ url_for('static', filename='logo.png') }}" alt="Discontinuity Board">
    </span>


    <div class="loading-icon left"></div>

    <ul class="right">
      <li id="photo-view-button" data-toggle="modal">View New Photo</li>
    </ul>

    <span class="right">
      {% if user %}
      <p>You are connected to photo: {{user.code}}</p>
      {% endif %}
    </span>

  </div>
</div>

<span class="center-text">
  <p id="time-left"></p>
</span>

<hr />

<input id="photo-id" value="{{user.id}}" hidden="true"/>

<div id="navigate">
  <!--
  <ul id="selection-tools">
    <li id="select-button">Select Tool</li>
  </ul>

  <ul id="select-options" class="center">
    <li id="make-selection-button">Make Selection</li>
  </ul>
  -->

  <ul id="notes-options" class="menu right">
    <li id="save-notes-button">Save Notes</li>
    <li id="export-pdf-button">Export to PDF</li>
    <a id="export-link" href="{{ url_for('export_notes', id=user.id) }}"></a>
  </ul>
</div>


<hr />

<div id="content">


  <div id="view" class="column left">

  </div>

  <textarea id="notes" class="right">

  </textarea>

</div>

{% include "modals.html" %}

{% endblock %}
