{% extends "base.html" %}



{% block content %}



<div id="modal">
</div>


<div id="navigate">

  <div id="picontrols">
    <div class="left" id="buttons">
      <div>
      <button id="takephoto">Take Photo With Pi</button>
      <button id="takerawphoto">Take Unmanipulated Photo With Pi</button>
      <button id="deleteconfigs">Delete Pi Configuration</button>
      </div>
    </div>
    <span id="loadingspan"><img id="loading" src="{{ url_for('static', filename='ajax-loader.gif') }}" alt="loading" hidden="true"></span>
  </div>

  {% include "upload.html" %}

  {% include "browse.html" %}

</div>

<div id="main">
  <div id="toolcontainer">

    {% include "tools.html" %}

  </div>

  <div id="view">
  </div>
</div>

{% endblock %}
