<!-- Modals -->
<div id="modal-overlay" class="overlay">
</div>

<div id="photo-view-modal" class="modal">
  <div class="modal-header">
    <button type="button" class="modal-close" data-dismiss="modal">close</button>
    <h3>Enter your photo code</h3>
  </div>

  <form action="{{ url_for('view') }}" method="post" name="photoview">
    {{ pvform.hidden_tag() }}
    <div class="modal-body">
      <p>
	<label>code:</label> <span>{{pvform.code(size=20)}}</span><br>

	
	   {% with errors = get_flashed_messages(category_filter=["entry"]) %}
	   {% if errors %}
	   <div class="alert-message block-message error">
	     <ul>
	       {%- for msg in errors %}
	       <li>{{ msg }}</li>
	       {% endfor -%}
	     </ul>
	   </div>
	   {% endif %}
	   {% endwith %}
      </p>
      <hr />
    </div>

    <div class="modal-footer">
      <button type="submit" name="finish" value="ok">Go to snapshot!</button>
    </div>
  </form>
</div>
