<!-- Modals -->
<div id="modal-overlay" class="overlay">
</div>

<div id="photo-view-modal" class="modal">
  <div class="modal-header">
    <button type="button" class="modal-close" data-dismiss="modal">close</button>
    <h3>Enter your photo code</h3>
  </div>

  <form action="{{ url_for('view_login') }}" method="post" name="photoview">
    {{ pvform.hidden_tag() }}
    <div class="modal-body">
      <p>
	code: {{pvform.code(size=20)}}<br>

      </p>
      <hr />
    </div>

    <div class="modal-footer">
      <button type="submit" name="finish" value="ok">Go to snapshot!</button>
    </div>
  </form>
</div>
