{% extends "pi_base.html" %}

{% block content %}


<div id="header">
  <div class="top">
    <span class="left">
      <img src="{{ url_for('static', filename='logo.png') }}" alt="Discontinuity Board">
    </span>


    <div class="loading-icon left"></div>

    {% if user %}
    <ul class="right">
      <li id="login-button" data-toggle="modal">Login</li>
      <li id="configure-button" data-toggle="modal">Configure</li>
      <li> {{user}}</li>
      <a id="logout" href="{{ url_for('pi_logout') }}"><li>Logout</li></a>
    </ul>
    {% endif %}
  </div>
</div>

{% if not user %}
<div id="register-login">
  <div class="center">
    <div id="register-button" class="option" data-toggle="modal">Register</div>
    <div id="login-button" class="option" data-toggle="modal">Login</div>
  </div>
</div>
{% else %}
<div>
  <div>
    <div id="phototools">
      <ul>
	<li id="take-photo-button">Take Photo</li>
	<li id="deletephoto"> Delete Photo </li>
	<li id="upload-button">Upload photo</li>
      </ul>
    </div>

    <div id="browse">
    </div>

  </div>

</div> 
{% endif %}

{% include "pi_modals.html" %}

{% endblock %}
