
<div id="tools">
    <h2>Photo manipulation tools</h2>
    <button type="button" id="cornerselect">Corner Select Tool</button>

    <form action="/transform/" method="post" enctype="multipart/form-data">

      <div class="coordpair">
	Corner 1: </br>
	x: <input id="corner1x" type="text" class="coordinput" name="corner1x" size="5">
	y: <input id="corner1y" type="text" class="coordinput" name="corner1y" size="5">
      </div>
      <div class="coordpair">
	Corner 2: </br>
	x: <input id="corner2x" type="text" class="coordinput" name="corner2x" size="5">
	y: <input id="corner2y" type="text" class="coordinput" name="corner2y" size="5">
      </div>
      <div class="coordpair">
	Corner 3: </br>
	x: <input id="corner3x" type="text" class="coordinput" name="corner3x" size="5">
	y: <input id="corner3y" type="text" class="coordinput" name="corner3y" size="5">
      </div>
      <div class="coordpair">
	Corner 4: </br>
	x: <input id="corner4x" type="text" class="coordinput" name="corner4x" size="5">
	y: <input id="corner4y" type="text" class="coordinput" name="corner4y" size="5">
      </div>

      <input id="currentfileid" type="text" name="filepath" size="3">
      <input id="transformimage" type="submit" value="Transform Image">
    </form>
</div>
